<!DOCTYPE html>
<html>
<title>Loco Drone!</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <h1>LOCO DRONE</h1>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6">
                    <form>
                            <a href=# id=forward><button type="button" class="btn btn-info btn-lg">Forward</button></a>
                    </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6">
                    <form>
                            <a href=# id=left><button type="button" class="btn btn-info btn-lg">Left</button></a>
                    </form>
                <img src="/static/test.jpeg" class="img-rounded" alt="Test image!">
                <form>
                        <a href=# id=right><button type="button" class="btn btn-info btn-lg">Right</button></a>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-sm-6 col-md-6">
                    <form>
                            <a href=# id=back><button type="button" class="btn btn-info btn-lg">Back</button></a>
                    </form>
            </div>
        </div>
    </div>

<script type=text/javascript>

// Forward
        $(function() {
          $('a#forward').bind('click', function() {
            $.getJSON('/forward',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
// Right
        $(function() {
          $('a#right').bind('click', function() {
            $.getJSON('/right',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
// Back
        $(function() {
          $('a#back').bind('click', function() {
            $.getJSON('/back',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
// Left
        $(function() {
          $('a#left').bind('click', function() {
            $.getJSON('/left',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>


</body>

</html>