<!DOCTYPE html>
<html>
<title>😵 Loco Drone!</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">



</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6" style="background-color:yellow;">
                hello
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6" style="background-color:pink;">
                    hello
                </div>
            </div>
            <div class="row">
                    <div class="col-6 col-sm-6 col-md-6" style="background-color:gray;">
                        hello
                    </div>
                </div>
        </div>
</body>

</html>